* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Raleway',sans-serif;
}

/*Sekcja HEADER*/

header {
    height: 70px;
}

.page-header {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

.container {
    width: 1352px;
    justify-content: space-between;
}

.page-header .container {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    color: #08A6E4;
}

.page-nav {
}
.page-nav-list {
    display: flex;
}

.page-nav-list li {
    margin-left:20px;
}

.page-nav-list a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #A5A5A5;
    letter-spacing: 3.28px;
}

a:hover {
    color: black;
}

hr {
    color: #A5A5A5;
    opacity: 0.4;
}

/*Sekcja otwierająca*/

.page-main {
    display: flex;
}

.opening-sell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sell-more {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 49px;
    color: black;
    padding: 150px 30px 30px 30px;

}

.open-shop {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 15px;
}

.shop-btn {
    display: inline-block;
    border-radius: 40px;
    width: 440px;
    height: content-box;
    padding: 25px;
    margin-top: 20px;
    background: #08A6E4;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;

}

.bg {
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}