* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans',sans-serif;
}

/*Sekcja HEADER*/

header {
    height: 70px;
}

.page-header {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    box-shadow: 0px 3px 6px #00000029;
}

.container {
    width: 100%;
    display: block;
    justify-content: space-around;
}

.page-header .container {
    height: 70px;
    display: flex;
    align-items: center;
}

.text-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    color: #08A6E4;
}

.page-nav {
}

.page-nav-list {
    display: flex;
}

.page-nav-list li {
    margin: 20px;
}

.page-nav-list a {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #A5A5A5;
    letter-spacing: 3.28px;
}

a:hover {
    color: black;
}

li:hover {
    border-bottom: 1px solid #08A6E4;
}

/*Sekcja otwierająca*/

.page-main {
    display: flex;
}

.opening-sell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sell-more {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 49px;
    color: black;
    padding: 150px 30px 30px 30px;

}

.open-shop {
    font-weight: normal;
    font-size: 16px;
    padding: 15px;
}

.shop-btn {
    display: inline-block;
    border-radius: 40px;
    width: 440px;
    height: content-box;
    padding: 25px;
    margin-top: 20px;
    background: #08A6E4;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;

}

.bg {
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

/*Sekcja statystyczna*/
.stat-ement {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    display: block;
    padding: 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.stats-container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin: 1px;
}

.stats-box {
    display: block;
    width: 250px;
    padding: 50px;
    margin: 1px 50px 1px 50px;
    flex-direction: row;
    align-items: center;
}

.stat-circle1 {
    position: relative;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background: #FB3B64;
    z-index: 1;
}

.stat-img1 {
    padding: 10px;
    position: absolute;
    height: 75px;
    width: 75px;
    z-index: 2;
    left: 30%;
}

.stat-img2 {
    padding: 20px;
    position: absolute;
    width: 102px;
    height: 72px;
    z-index: 2;
    left: 15%;
}

.stat-circle2 {
    position: relative;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background: #08A6E4;
    z-index: 1;
}

.stat-img3 {
    position: absolute;
    padding: 10px;
    width: 73px;
    height: 73px;
    z-index: 2;
    left: 25%;
}

.stat-circle3 {
    position: relative;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background: #55DFB4;
    z-index: 1;
}

.stats-nr {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 6px;
    padding: 10px;
    margin-top: 10px;
}

.stats-text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #A5A5A5;
    font-weight: normal;
    padding: 10px;
}

/*Benefity*/

.benefit-main {
    width: 100%;
    height: 1000px;
    display: flex;
    background: #F7F7F7;
}

.benefit-boxes {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    width: 1124px;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 50px;
}
.benefit-wide {
    width: 1124px;
    height: 370px;
}

.benefit-text {
    text-align: left;
    display: block;
}

.b-h2-text {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin: 20px;
    display: block;
}

.benefit-wide--first {
    display: block;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 37px;
}

.benefit-wide--second {
    display: block;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 37px;
}

.benefit-narrow {
    display: flex;
}

.benefit-narrow-left {
    display: block;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-radius: 5px;
    width: 70%;
    margin-right: 37px;
}

.benefit-narrow-text {

}

.benefit-narrow-box {
    justify-content: right;
    display: block;
    border: 1px solid rgba(165, 165, 165, 0.2);
    border-radius: 5px;
    width: 440px;
    background: #55DFB4;
    height: 370px;
}

.benefit-img {
    position: relative;
}

.benefit-img img {
    position: relative;
    z-index: 2;
}

.descr-text {
    width: 416px;
    font-size: 16px;
}